@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");

.container {
  font-family: "Chakra Petch", sans-serif;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.container p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.navContainer ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin: 0;
}

.navContainer ul li:hover {
  color: blue;
  text-decoration: underline;
}
